<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ location.title }}</h5>
        <p class="card-text">Débutée le : {{ location.dateDebut }}</p>
        <p class="card-text">Termine le : {{ location.dateFin }}</p>
    </div>
</div>